@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200&family=Jomhuria&family=Open+Sans:ital,wght@0,300;1,300&family=Red+Hat+Display:wght@500;700;900&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
    font-family: 'Jomhuria', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Red Hat Display', sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    margin: 0;
    background-image: url(./images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: hsl(225, 100%, 94%);
}
.container{
    width: 25%;
    aspect-ratio: 2;
    background-color: #fff;
    margin: 12% auto;
    border-radius: 25px;
    overflow-x: clip;
    text-align: center;
    padding-bottom: 1em;
    color: hsl(224, 23%, 55%);
    box-shadow: 0px 30px 20px -20px rgb(0 0 0 / 20%);
}
h1{
    font-size: 1.6em;
    font-weight: 900;
}
img{
    width: 100%;
}
.plan{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: .7em;
    position: relative;
    padding: 10px;
    margin: 10px;
    background-color: hsl(0deg 0% 94%);
    width: 95%;
    border-radius: 10px;
}
.plan::before{
    position: absolute;
    content: url(./images/icon-music.svg);
    top: 50%;
    margin-top: -6%;
    left: 3%;
}

.price{
    display: flex;
    flex-direction: column;
    font-weight: 500;
}
.price .plan-title{
    font-weight: 900;
}
.price .option a{
    font-weight: 500;
}
a:hover{text-decoration: none;}
.title p{
    font-size: 16px;
    padding: 0 2em;
}
ul{
    padding: 0;
    list-style-type: none;
}
ul li{
    width: 80%;
    margin: 0 10% 10px;
}
ul li button{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 15px;
}
ul.buttons .confirm{
    color:#fff;
    background-color: hsl(245, 75%, 52%);
    line-height: 25px;
}
.confirm:hover{opacity: .5;}
ul.buttons .cancel{
    color: hsl(224, 23%, 55%);
}
ul.buttons .cancel:hover{color: hsl(223, 47%, 23%);}
.plan-title, h1{
    color: hsl(223, 47%, 23%);
}
.option, .confirm, .cancel{
    cursor: pointer;
}

@media (max-width:375px){
    body{
        background-image: none;
    }
    .container{
        width: 95%;
    }
    .plan::before{
        margin-top: -9%;
        left: 3%;
    }
}
@media (min-width:376px) and (max-width: 576px){
    .container{
        width: 80%;
    }
}
@media (min-width: 577px) and (max-width: 991px){
    .container{
        width: 70%;
    }
}
