@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200&family=Jomhuria&family=Open+Sans:ital,wght@0,300;1,300&family=Red+Hat+Display:wght@500;700;900&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
    font-family: 'Jomhuria', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Red Hat Display', sans-serif;
}
body{
    position: relative;
    background-image: linear-gradient(to bottom, hsl(224, 100%, 92%) 50%, hsl(225, 100%, 94%) 50%, hsl(225, 100%, 94%) 100%) ;
}
body::before{
    position: absolute;
    content: "";
    top: -29em;
    left: -10em;
    width: 48em;
    aspect-ratio: 1;
    border-radius: 1000px;
    background-color: hsl(224, 100%, 92%);
    z-index: -10;
}
body::after{
    position: absolute;
    content: "";
    top: 7em;
    left: 27em;
    width: 48em;
    aspect-ratio: 1;
    border-radius: 1000px;
    background-color: hsl(225, 100%, 94%);
    z-index: -10;
}
.container{
    width: 20em;
    aspect-ratio: 2;
    background-color: #fff;
    margin: 1em auto;
    border-radius: 25px;
    overflow-x: clip;
    text-align: center;
    padding-bottom: 1em;
    color: hsl(224, 23%, 55%);
}
h1{
    font-size: 1.6em;
    font-weight: 900;
}
img{
    width: inherit;
}
.plan{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: .7em;
    position: relative;
    padding-left: 10px;
}
.plan::before{
    position: absolute;
    content: url(./images/icon-music.svg);
    top: 50%;
    margin-top: -23px;
    left: 35px;
}

.price{
    display: flex;
    flex-direction: column;
    font-weight: 500;
}
.price .plan-title{
    font-weight: 900;
}
.price .change{
    font-weight: 500;
}
.title p{
    font-size: 16px;
    padding: 0 2em;
}
ul{
    list-style-type: none;
}
ul li{
    margin: 0 15% 10px;
}
ul li button{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 15px;
}
ul.buttons .confirm{
    color:#fff;
    background-color: hsl(245, 75%, 52%);
    line-height: 25px;
}
ul.buttons .cancel{
    color: hsl(224, 23%, 55%);
}
.plan-title, h1{
    color: hsl(223, 47%, 23%);
}
.change, .confirm, .cancel{
    cursor: pointer;
}