@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200&family=Jomhuria&family=Open+Sans:ital,wght@0,300;1,300&family=Red+Hat+Display:wght@500;700;900&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
    font-family: 'Jomhuria', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Red Hat Display', sans-serif;
}